/* line 2, ../../../../_sass/scss/_cases/8x4.scss */
.case-8x4 .busjes-image {
  max-width: 1440px;
  margin: -100px auto -80px;
}
/* line 7, ../../../../_sass/scss/_cases/8x4.scss */
.case-8x4 .postercards-image {
  padding-left: 20px;
}
