<div class="page-intro-background"></div>

<div class="ui-overlay ui-overlay--white">
    <h3 class="page-side-title">POWERED BY ACHTUNG!</h3>
</div>

<div class="grid center page-intro-grid">
    <div class="column span-8-10 gutter-l-1-10 span-sm-8-10 gutter-l-sm-1-10 page-intro-column">

        <img src="/static/img/logos/kraftwerk-logo@2x.png" width="816" alt="Kraftwerk" class="page-intro-logo">
        <p class="page-intro-body">Design agency for handcrafted digital products</p>

        <div class="page-intro-buttons">
            <a href="/work" target="_blank" class="button button-primary button-primary--light page-intro-button page-intro-button--first">
                <span class="button-primary-label button-primary-label--light button-primary-label-background case-header-metadata-button-label">View work</span>
                <figure class="button-primary-background"></figure>
                <span class="button-primary-label button-primary-label--dark button-primary-label-foreground case-header-metadata-button-label">View work</span>
            </a>

            <a href="/about" target="_blank" class="button button-primary button-primary--light page-intro-button">
                <span class="button-primary-label button-primary-label--light button-primary-label-background case-header-metadata-button-label">About us</span>
                <figure class="button-primary-background"></figure>
                <span class="button-primary-label button-primary-label--dark button-primary-label-foreground case-header-metadata-button-label">About us</span>
            </a>
        </div>

    </div>
</div>

<a href="/contact" class="button page-intro-button-contact">Get in touc<span class="page-intro-button-contact-last-letter">h</span></a>
