<li class="list-item case-header-list-item" data-slug="{{ case.slug }}">
    <div class="case-header-copy">
        <div class="grid case-header-copy-grid">
            <div class="column case-header-copy-column span-5-10 gutter-l-2-10 span-md-5-10 gutter-l-md-1-10">
                <div class="case-header-copy-container">
                    <div class="case-header-copy-container-inner">
                        <h1 class="case-header-copy-title"><hr class="case-header-copy-title-line"><span class="case-header-copy-title-label">{{ case.title }}</span></h1>
                        <h2 class="case-header-copy-tagline">{{ case.heading }}</h2>
                        <button class="button case-header-button-arrow"><canvas class="sprite-animation-arrow case-header-arrow"></canvas></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</li>
