<nav class="mobile-navigation">
    <figure class="mobile-navigation-background"></figure>
    <a href="/intro" class="button button-main-logo ir"><img src="/static/img/logo-white.png" width="94" height="16"></a>
    <a class="button button-main-menu">
        <canvas class="button-main-menu-icon" width="50" height="50" data-color="white"></canvas>
    </a>
</nav>
